*{
    margin: 0;
    padding: 0;
}
body{
    

     margin-top: 56px;
    height: 1000px;
}
.header{
    background-color: rgb(9, 48, 107);
    padding: 20px;
}
header ul.nav{
float: right;
list-style: none;
}
header ul.nav li{
display: inline;
margin-left: 25px;
cursor: pointer;
color:white;
}
header ul.nav li:hover{
opacity: 0.5;
}